@import url(/release/css/google-font.css);
@import url(/release/css/font-awesome.css);

@media (prefers-color-scheme: dark) {
    :root {
        background-color: #000;
        color: #fff;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        background-color: #fff;
        color: #000;
    }
}
