@import url(/release/css/google-font.css);
@import url(/release/css/font-awesome.css);

body {
    font-family: "Montserrat", sans-serif;
}

input {
font-family: "Inconsolata", monospace;
}

@media (prefers-color-scheme: light) {
    :root {
        background-color: #fff;
        color: #000;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        background-color: #000;
        color: #fff;
    }
}
