@import url(/release/css/sanitize.css);
@import url(/release/css/google-font.css);
@import url(/release/css/font-awesome.css);

@media (prefers-color-scheme: light) {
    :root {
        --body-background-color: #f4f4f5;
        --wrapper-background-color: #ffffff;
        --input-box-background-color: #ededee;
        --input-box-focus-background-color: #e2e2e4;
        --button-background-color: #e2e2e4;
        --button-focus-background-color: #d6d6d9;
        --textarea-background-color: #ededee;
        --text-color: #2b2b2f;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --body-background-color: #121212;
        --wrapper-background-color: #1a1a1a;
        --input-box-background-color: #242424;
        --input-box-focus-background-color: #2e2e2e;
        --button-background-color: #2e2e2e;
        --button-focus-background-color: #383838;
        --textarea-background-color: #242424;
        --text-color: #e6e6e6;
    }
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border-radius: 5px;
}

body {
    min-height: 100vh;
    color: var(--text-color);
    background-color: var(--body-background-color);
    font-family: "QuickSand", sans-serif;
    @include flex-center;
}

input,
button {
    font-family: "FiraCode", monospace;
}

span.title {
    font-weight: 600;
}

div#wrapper {
    width: clamp(350px, 90%, 600px);
    padding: 20px;
    background-color: var(--wrapper-background-color);
    @include flex-center;
    flex-direction: column;
    gap: 20px;

    > * {
        width: 100%;
    }

    > div#title-box {
        @include flex-center;

        span.title {
            border-bottom: 5px double var(--text-color);
            border-radius: 0px;
        }
    }

    > div#login-box {
        form {
            @include flex-center;
            flex-direction: column;
            gap: 10px;
        }

        &.hidden {
            display: none;
            background: red;
        }
    }

    > div#addon-box {
        @include flex-center;
        flex-direction: column;
        gap: 10px;

        textarea {
            width: 100%;
            height: clamp(350px, 40vh, 600px);
            padding: 10px;
            color: var(--text-color);
            background-color: var(--textarea-background-color);
            white-space: nowrap;
        }

        &.hidden {
            display: none;
            background: red;
        }
    }
}

div.input-box {
    width: 100%;
    @include flex-center;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    background-color: var(--input-box-background-color);
    transition: background-color 0.5s ease-in-out;

    i.fa-fw {
        @include flex-center;
        display: inline-flex;
        flex-grow: 0;
    }

    input {
        background-color: transparent;
        border: none;
        outline: none;
        color: var(--text-color);
        font-weight: 600;
        flex-grow: 1;
    }

    &:focus-within {
        background-color: var(--input-box-focus-background-color);
    }
}

button {
    width: 100%;
    @include flex-center;
    flex-direction: row;
    border: none;
    outline: none;
    gap: 10px;
    padding: 10px;
    font-weight: 600;
    letter-spacing: 0.15em;
    color: var(--text-color);
    background-color: var(--button-background-color);
    transition: background-color 0.5s ease-in-out;

    &:focus {
        background-color: var(--button-focus-background-color);
    }
}
